@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

:root ::-webkit-scrollbar-thumb {
  background-color: #505050;
  cursor: pointer;
}

:root {
  --background-color: #202020;
  font-family: "open sans";
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: #dedede;
  font-family: "open sans";
  font-size: 16.25px;
}

.block {
  max-width: 64rem;
  background-color: #2b2b2b;
  padding: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: -0.2rem;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-block: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-block: 0.5rem;
}

strong {
  color: #f0f0f0;
}

em {
  font-style: italic;
}

footer {
  color: #aaaaaa;
}

.dimmed {
  color: #c8c8c8;
}

.footer {
  color: #aaaaaa;
}

a {
  color: #65dd65;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  padding-left: 1.5rem;
  margin-block: 1rem;
  line-height: 1.6rem;
  list-style-type: disc;
}

ol.sm,
ul.sm {
  padding-left: 1.15rem;
  margin-block: 0.7rem;
  line-height: normal;
  list-style-type: "- ";
}

ol {
  list-style-type: decimal;
}

li::marker,
ol::marker {
  font-style: italic;
  font-weight: bold;
  color: #dfdfdf;
}

img {
  max-width: 100%;
  height: auto;
  margin-block: 1rem;
}

.admonition {
  padding: 0.8rem 1rem;
  margin-block: 1rem;
  color: #7caf7c;
  background-color: #2d3829;
}

.admonition a {
  color: #7caf7c;
}

.admonition strong {
  color: #7caf7c;
}

.admonition a {
  text-decoration: underline;
  color: inherit;
}

.admonition a:hover {
  text-decoration: none;
}

.admonition.info {
  color: #6d9fb8;
  background-color: #2b383e;
}

.admonition.info a {
  color: #6d9fb8;
}

.admonition.info strong {
  color: #6d9fb8;
}

.admonition-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

code {
  font-family: monospace;
  background-color: #303030;
  border: solid rgba(0, 0, 0, 0.25) 1px;
  padding: 0.25rem 0.3rem 0.1rem;
}

blockquote {
  margin-block: 1rem;
  padding: 0.5rem 0.8rem;
  border-left: 4.5px solid #4caf50;
  background-color: #353535;
}

hr {
  border: 0;
  height: 1px;
  margin-block: 1rem;
  background: #7e7e7e;
}

hr.sm {
  border: 0;
  height: 1px;
  background: #7e7e7e;
  margin-block: 0.5rem;
}

.toc-content > .flex-grow {
  flex-grow: 1;
  overflow-y: auto;
}

.toc-footer {
  text-align: center;
}

.toc {
  position: fixed;
  right: 0;
  z-index: 999;
  background-color: #2b2b2b;
  padding: 1rem;
  border-left: solid #383838 1px;
  color: #ffffff;
  font-size: 0.9rem;
  width: 13rem;
  transition:
    transform 0.2s ease-in-out,
    width 0.3s ease,
    height 0s;
  transform: translateX(0);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toc.collapsed {
  transform: translateX(110%);
}

.toc:not(.collapsed) {
  overflow-y: auto;
}

.toc-toggle {
  cursor: pointer;
  color: #ffffff;
  padding: 0.5rem 0.6rem;
}

.toc-content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.toc a {
  display: block;
  margin-block: 0.5rem;
  line-height: 0.9rem;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.intro {
  margin-block: 1rem;
  padding: 0.8rem 1rem;
  color: #6d9fb8;
  background-color: #2b383e;
}

.intro a {
  text-decoration: underline;
  color: inherit;
}

.intro a:hover {
  text-decoration: none;
}

.popup {
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
  background-color: #2b2b2b;
  border: solid #383838 1px;
  color: #ffffff;
  padding: 0.5rem;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.jump-to {
  left: 0;
  font-size: 1.2rem;
  color: #65dd65;
  font-weight: normal;
}

.jump-to:hover {
  cursor: pointer;
  text-decoration: underline;
}

.jump-to-2 {
  left: 0;
  color: #65dd65;
}

.jump-to:hover-2 {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .block {
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
  }
}

@media (min-width: 768px) {
  .toc {
    width: 15rem;
  }
}
